body, ul, li, p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial;

}

.a {
 text-decoration: none;
    
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    flex-wrap: wrap;
}

.header a {
    color: black;
    text-decoration: none;
}
.menu {
    display: flex;
    column-gap: 40px;
    font-size: 20px;
}

.menu li {
    margin-left: 10px;
}

.menu li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    
}
.pesquisa {
    background-color: #9F9999;
    border-radius: 20px;
    display: flex;
    width: 300px;
    padding: 5px 15px;
    margin-left: 20px;
    margin-top: 50px;

}

.pesquisa input {
    border: none;
    background-color: transparent;
    width: 100%;
   
}

.semana {
    width: 530px;
    color: #F92D2D;
    margin-top: 50px;
    
}

.semana h2 {
    border-bottom: solid #C4C4C4;
    margin-left: 20px;
}

.subtitulo {
    text-align: center;
    font-size: 50px;
}

.card {
    width: 220px;
    height: 265px;
    padding: 15px;
    margin: 10px;
    background-color: #9F9999;
    border-radius: 30px;
    margin-top: 50px;
    
    }

    .card img {
        height: 200px;

    }

    .card h3 {
        font-size: 20px;
        margin: 0;
        margin-bottom: 5px;
    }

    .card-footer {
        display: flex;
        justify-content: space-between;
    }

    .text-card span {
        font-size: 15px;
        color:rgba(0, 0, 0, 0.5)

    }

    .text-card p {
        font-size: 20px;
        color:rgb(0, 0, 0)
        
    }